footer {
	padding: 10px 0;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	width: 100%;
	bottom: 0;
}
.container-index {
    margin-top:8px;
    margin-bottom:8px;
}
.lists-section {
	margin:9px 0;
}
.lists-section #message {
	border-radius:0 0 5px 5px;
}